---
import Base from "../../layout/Base.astro";
---

<Base title="Error">
  <div class="flex flex-col justify-center items-center h-screen">
    <h1>Something went wrong!</h1>
    <p>
      The provider you are looking for is no longer available. Please try again
      later.
    </p>
  </div>
</Base>
